[Unit]
Description=Smartlight Back

[Container]
ContainerName=smartlight-back
HostName=smartlight-back
#Image=smartlight-front.build
Image=localhost/smartlight-back-cuda

AddDevice=nvidia.com/gpu=0

Volume=./data:/data
Environment=DB_PATH=/data/smartlight.db
Environment=UPLOADS_DIR=/data/uploads

PublishPort=8888:8888

[Install]
WantedBy=default.target
